<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quoting Dojo</title>
    </head>
    <body>
        <h1>Start a Quote</h1>
        <form class="form" action="/quotes" method="post">
            Your Name:
            <input type="text" name="name">
            Quote:
            <textarea name="quote" rows="8" cols="80"></textarea>
            <input type="submit" value="Submit">

        </form>
        <a href="/quote_page"><button>Skip to Quotes</button></a>
    </body>
</html>
