<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Main</title>
    </head>
    <body>
        <h1>This is a form</h1>
        <form class="form" action="/users" method="post">
            Full Name:
            <input type="text" name="name">
            Doojo Location:
            <select name="location">
                <option>Los Angeles</option>
                <option>Bay Area</option>
                <option>Dallas</option>
                <option>Washington D.C.</option>
                <option>Seattle</option>
                <option>New York</option>
            </select>
            Favorite Language:
            <select name="language">
                <option>Spanish</option>
                <option>Javascript</option>
                <option>Italian</option>
                <option>Ruby</option>
                <option>Latin</option>
                <option>Python</option>
                <option>Chinese</option>
                <option>C#</option>
            </select>
            Comment:
            <textarea name="comment" rows="8" cols="80" placeholder="Comment"></textarea>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
