<h2>Registration</h2>
<div>
    <p ng-repeat='error in UC.registration_errors'>{{ error }}</p>
    <form ng-submit='UC.create(UC.newUser)' method="post">
        Full Name:
        <input type="text" ng-model='UC.newUser.fullname'>
        Username:
        <input type="text" ng-model='UC.newUser.username'>
        Email:
        <input type="text" ng-model='UC.newUser.email'>
        Password:
        <input type="text" ng-model='UC.newUser.password'>
        <input type="submit"  value="Submit">
    </form>
</div>

<h2>Login</h2>
<p ng-repeat='error in UC.login_errors'>{{error}}</p>
<form ng-submit='UC.login(UC.loginUser)' method="post">
    Username:
    <input type="text" ng-model="UC.loginUser.username">
    Password:
    <input type="text" ng-model="UC.loginUser.password">
    <input type="submit" value="Submit">
</form>
