<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <form class="form" action="/users" method="post">
            Name:
            <input type="text" name="name">
            Age:
            <input type="text" name="age">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
