<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message Board</title>
    </head>
    <body>
        <h1>Welcome to the Message Board</h1>
        <form class="message" action="/post_message" method="post">
            Name:
            <input type="text" name="name">
            Message:
            <textarea name="messsage" rows="8" cols="80" placeholder="Write message here...."></textarea>
            <input type="submit" value="Post Message">
        </form>
    </body>
</html>
